################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/HackfestBotBase/.vs/HackfestBotBase/v15
